.parent {
    margin: auto;
    padding: 10px 10px;
    text-align: center;
  }
  .child {
    display: inline-block;
    height: 800px;
    width: 48%;
    background-image: url("split1.png");
    background-size: cover;
    background-position-y: -350px;
    padding: 10px 10px;
    vertical-align: middle;
    border-radius: 50px 50px;
    font-family: Bowlby One SC;
    background-color: azure;
    font-size: 50px;
  }
  
 

  .child1 {
    display: inline-block;
    height: 800px;
    width: 48%;
    background-image: url("split2.png");
    background-size: cover;
    background-position-y: -350px;
    padding: 10px 10px;
    vertical-align: middle;
    border-radius: 50px 50px;
    font-family: Bowlby One SC;
    background-color: azure;
    font-size: 50px;

  }

  .image {
    height: 100%;
    width: auto;
  
  }


  #button1 {
    position: fixed;
    left: 200px;
    top: 200px;
    border-radius: 90%;
    background-color: rgb(182, 95, 8);
    /* margin: auto; */
    padding: 24px;
    font-size: 50px;
    transition: 0.3s;
    cursor: pointer;
    font-family: Bowlby One SC;
    color: peachpuff;
    border: none;
    z-index: 4;
  }
  #button1:hover {
    box-shadow: 0 12px 16px 0 rgba(12, 12, 12, 0.458), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: rgba(255, 218, 185, 0.7)
  }
  .container {
    background-color: rgb(182, 95, 8);
    height: 100vh;
    width: 100vw;
    text-align: center;
    transition: 0.3s;
   
  }

  #title {
    position: absolute;
    text-align: center;
    /* background-color: rgb(182, 95, 8);; */
    margin-top: -500px; 
    margin-left: 30%;
    padding-top: 30px;
    padding-bottom: 30px;
    color:peachpuff;
    background-color: color-mix(in hsl shorter hue, color percentage, color percentage);
    font-family: Bowlby One SC;
    text-shadow: 2px 2px black;
  }

  
