.ravioli {
    border: 5px solid;
    display: flex;
    justify-content: center;
    align-items: center;

  }
.heading {
    margin: auto;
    font-size: 50px;
    font-family: Bowlby One SC;
    background-color: blueviolet;
    color: white;
    width: 400px


}

.content {
  height: 100vh;
}

body {
  justify-content: center;
  margin: 0;
}

.back-img {
  display: flex;
  justify-content: center;
}