body {
  margin: 0;
  background-image: url('background.png');
  background-size: 100vw;
  background-repeat: no-repeat;
}


button {
  transition: 0.5s;
}

.count {
  position: absolute;
  margin-top: 260px;
  margin-left: 800px;
  background-color: rgb(182, 95, 8);
  color: peachpuff;
  width: 180px;
  height: 40px;
  text-align: center;
  font-family: Bowlby One SC;
  border-radius: 20px;
  box-shadow: 5px 4px;
  font-size: 30px;
  padding-top: 2px;
}

.button1 {
  position: fixed;
  margin-top: 6.58%;
  margin-left: 308px;
  width: 152px;
  height: 8.24%;
  border-radius: 10px;
  opacity: 1;
  background-color: rgb(182, 95, 8);
  font-size: 20px;
  text-align: center;
  color: peachpuff;
  cursor: pointer;
  border: 0;
}

.button2 {
  position: fixed;
  margin-top: 6.58%;
  margin-left: 478px;
  width: 162px;
  height: 8.24%;
  border-radius: 10px;
  opacity: 1;
  background-color: rgb(182, 95, 8);
  font-size: 20px;
  text-align: center;
  color: peachpuff;
  cursor: pointer;
  border: 0;
}

.button3 {
  position: fixed;
  margin-top: 6.58%;
  margin-left: 662px;
  width: 150px;
  height: 8.24%;
  border-radius: 10px;
  opacity: 1;
  background-color: rgb(182, 95, 8);
  font-size: 20px;
  text-align: center;
  color: peachpuff;
  cursor: pointer;
  border: 0;
}

.button4 {
  position: fixed;
  margin-top: 6.58%;
  margin-left: 833px;
  width: 155px;
  height: 8.24%;
  border-radius: 10px;
  opacity: 1;
  background-color: rgb(182, 95, 8);
  font-size: 20px;
  text-align: center;
  color: peachpuff;
  cursor: pointer;
  border: 0;
}

.button5 {
  position: fixed;
  margin-top: 6.58%;
  margin-left: 1009px;
  width: 145px;
  height: 8.24%;
  border-radius: 10px;
  opacity: 1;
  background-color: rgb(182, 95, 8);
  font-size: 20px;
  text-align: center;
  color: peachpuff;
  cursor: pointer;
  border: 0;
}

.button6 {
  position: fixed;
  margin-top: 6.58%;
  margin-left: 1167px;
  width: 135px;
  height: 8.24%;
  border-radius: 10px;
  opacity: 1;
  background-color: rgb(182, 95, 8);
  font-size: 20px;
  text-align: center;
  color: peachpuff;
  cursor: pointer;
  border: 0;
}

.button7 {
  position: fixed;
  margin-top: 6.58%;
  margin-left: 1307px;
  width: 126px;
  height: 8.24%;
  border-radius: 10px;
  opacity: 1;
  background-color: rgb(182, 95, 8);
  font-size: 20px;
  text-align: center;
  color: peachpuff;
  cursor: pointer;
  border: 0;
}

.main_button {
  position: fixed;
  margin-top: 380px;
  margin-left: 660px;
  width: 390px;
  height: 250px;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
}


.side-nav {
  margin-top: 35px;
  height: 92.5%;
  width: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: fixed;
  z-index: 1;
  background-color:rgb(194, 106, 19);
  overflow-x: hidden;
  /* padding-top: 20px; */
  transition: 0.5s;
  /* box-shadow: 5px 4px rgb(170, 144, 122); */

}

.side-nav h1 {
  display: flex;
  justify-content: center;
  /* margin-top: -50px; */
  margin-left: -20px;
  font-family: Bowlby One SC;
  font-size: 35px;
  width: 110%;
  color: peachpuff;
  transition: 0.5;
  margin-bottom: 50px;
}

.side-nav img {
  margin-left: 50px;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  transition: 0.5s;
  width: 50%;
  cursor: pointer;
}
.side-nav p {
  font: Bowlby One SC;
  font-size: 25px;
  color: peachpuff;
  margin-left: 10px;
  margin-top: 100px;

}
p {
  text-shadow: 2px 2px black;
}

h1 {
  text-shadow: 2px 2px black;

}

 .shelves {
  margin-top: 10px;
  display: grid;
  position: absolute; 
  right: 10px;
  row-gap: 2px;
}

.shelves div {
  background-color: rgb(182, 95, 8);
  height: 135px;
  width: 220px;
  border-radius: 20px;
  border: 2px solid rgba(0, 0, 0, 0.8);
}

.shelves img {
  opacity: 0;
  height: 29%;
}

.notImplemented1 {
  position: fixed;
  margin-top: 270px;
  margin-left: 308px;
  width: 137px;
  height: 180px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;
}

.notImplemented2 {
  position: absolute;
  margin-top: 536px;
  margin-left: 330px;
  width: 113px;
  height: 129px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;
}

.notImplemented3 {
  position: absolute;
  margin-top: 754px;
  margin-left: 304px;
  width: 107px;
  height: 116px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;
}

.notImplemented4 {
  position: absolute;
  margin-top: 754px;
  margin-left: 475px;
  width: 107px;
  height: 116px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;
}

.notImplemented5 {
  position: absolute;
  margin-top: 754px;
  margin-left: 644px;
  width: 107px;
  height: 116px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;
}

.notImplemented6 {
  position: absolute;
  margin-top: 754px;
  margin-left: 813px;
  width: 107px;
  height: 116px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;
}

.notImplemented7 {
  position: absolute;
  margin-top: 754px;
  margin-left: 979px;
  width: 107px;
  height: 116px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;
}

.notImplemented8 {
  position: absolute;
  margin-top: 754px;
  margin-left: 1148px;
  width: 107px;
  height: 116px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;
}

.notImplemented9 {
  position: absolute;
  margin-top: 754px;
  margin-left: 1315px;
  width: 107px;
  height: 116px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;
}

.notImplemented10 {
  position: absolute;
  margin-top: 536px;
  margin-left: 1281px;
  width: 115px;
  height: 130px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;

}

.notImplemented11 {
  position: absolute;
  margin-top: 270px;
  margin-left: 1281px;
  width: 137px;
  height: 181px;
  border: 0;
  border-radius: 20px;
  cursor: pointer;
  opacity: 0;
}


.Multiplier {
  position: absolute;
  margin-left: 40%;
  margin-top: 4px;
  background-color: rgb(182, 95, 8);
  width: 400px;
  height: 60px;
  border-radius: 30px;
  border: 2px solid rgba(0, 0, 0, 0.8);
  border: none; 
  color: peachpuff;
  font-family: Bowlby One SC;
  font-size: 30px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}