.ravioli {
  border: 5px solid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  margin: auto;
  font-size: 50px;
  font-family: Bowlby One SC;
  background-color: blueviolet;
  color: white;
  width: 400px
}

.content {
  height: 100vh;
}

body {
  /* justify-content: center; */
  margin: 0;
  background-image: url('background2.png');
  background-size: 100%;
}

.back-img {
  display: flex;
  justify-content: center;
}

.button {
  position: relative; 
  margin-top: 0;
}

.button1 {
  position: fixed;
  margin-top: 6.58%;
  margin-left: 308px;
  width: 152px;
  height: 8.24%;
  border-radius: 10px;
  opacity: 0;
  cursor: pointer;
}
.button2 {
  position: fixed;
  margin-top: 6.58%;
  margin-left: 478px;
  width: 162px;
  height: 8.24%;
  border-radius: 10px;
  opacity: 0;
  cursor: pointer;
}

.button3 {
  position: fixed;
  margin-top: 6.58%;
  margin-left: 662px;
  width: 150px;
  height: 8.24%;
  border-radius: 10px;
  opacity: 0;
  cursor: pointer;
}

.button4 {
  position: fixed;
  margin-top: 6.58%;
  margin-left: 833px;
  width: 155px;
  height: 8.24%;
  border-radius: 10px;
  opacity: 0;
  cursor: pointer;
}

.button5 {
  position: fixed;
  margin-top: 6.58%;
  margin-left: 1009px;
  width: 145px;
  height: 8.24%;
  border-radius: 10px;
  opacity: 0;
  cursor: pointer;
}

.button6 {
  position: fixed;
  margin-top: 6.58%;
  margin-left: 1167px;
  width: 135px;
  height: 8.24%;
  border-radius: 10px;
  opacity: 0;
  cursor: pointer;
}

.button7 {
  position: fixed;
  margin-top: 6.58%;
  margin-left: 1307px;
  width: 126px;
  height: 8.24%;
  border-radius: 10px;
  opacity: 0;
  cursor: pointer;
}

.main_button {
  position: fixed;
  margin-top: 380px;
  margin-left: 660px;
  width: 390px;
  height: 250px;
  border-radius: 50%;
  opacity: 0;
  cursor: pointer;
}


/* Side Navigation Menu */
.side-nav {
  height: 92.5%;
  width: 0;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  position: fixed;
  z-index: 1;
  margin-top: 7px;
  /* left: 0; */
  background-color:rgb(194, 106, 19);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;
}

/* The navigation menu links */
.side-nav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.side-nav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.side-nav .close-btn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the side navigation */
#openBtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

#openBtn:hover {
  background-color: #444;
}
